Django>=1.11,<1.12
psycopg2==2.7.7

django-treebeard
django-sekizai
django-classy-tags

django-cms
djangocms-blog
djangocms-admin-style
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-style
djangocms-text-ckeditor
djangocms-picture
djangocms-teaser
djangocms-video