@media (min-width: 768px) {
  #sidebar {
    max-width: 375px;
  }
  #sidebar-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #eeeeee;
    border-right: 1px solid #e7e7e7;
    z-index: -100;
  }
}
@media (max-width: 768px) {
  #sidebar {
    overflow-x: hidden;
  }
  .navbar-static-top {
    margin-bottom: 0;
  }
  #sidebar-content {
    margin-left: -99em;
    margin-right: -99em;
    padding: 20px 99em 20px 99em;
    background: #eeeeee;
    border-bottom: 1px solid #e7e7e7;
  }
}
#sidebar img {
  margin: 15px 5%;
  width: 90%;
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 15px;
  box-sizing: border-box;
}
